{% extends "eopBlogBundle:Default:red_layout.html.twig" %}

{% block body %}

{% set days = ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"] %}
{% set nbBandeau = 0 %}
{% for lieux in lieuxTab %}
    {% for lieu in lieux %}
        {% set nbBandeau = nbBandeau + 1 %}
    {% endfor %}
{% endfor %}
{% set heightBandeau = 89 %}
{% set heightHours = 35 %}
{% set widthHours = 120 %}
{% set distanceBetweenHours = 175 %}
{% set startHour = 9 %}
{% set nbHour = 13 %}
{% set widthFleche = 40 %}
{% set widthJour = 83 %}
{% set widthLieux = 80 %}
{% set widthSeanceMin = 250 %}
{% set couleurJour = ["#431C1C", "#441111", "#630002", "#7B0406", "#990005", "#E80007", "grey"] %}
{% set couleurBandeau = ["#a18d8e", "#a08888", "#b17f80", "#bd8181", "#cb7f83", "#f37f82", "lighGrey"] %}
{% set couleurLieux = ["#a18d8e", "#a08888", "#b17f80", "#bd8181", "#cb7f83", "#f37f82", "darkRed"] %}
{% set couleurSeparationBandeau = "#555" %}
{% set couleurFondHeure = "black" %}
{% set couleurSeparationHeure="#00F" %}
<div class="blockMain">
    Téléchargement : <br><br>
    <table style="width:100%">
        <tr>
            <td style="width:33%;" align="left"><span><a href="{{download}}programme/TEFF_SeanceParSeance.pdf" target="_blank" class="buttonRedStyle" style="min-width:145px; width:90%">{{"descriptif des seances"|replace({" ":spaceReplace})|raw}}</a></span></td>
            <td style="width:33%;" align="center"><span><a href="{{download}}programme/TEFF_DescriptifsSeances2015.docx" target="_blank" class="buttonRedStyle" style="min-width:145px; width:90%">{{"Programme en texte"|replace({" ":spaceReplace})|raw}}</a></span></td>
            <td style="width:33%;" align="right"><span><a href="{{download}}programme/TEFF_Flyer.pdf" class="buttonRedStyle" style="min-width:145px; width:90%">{{"Programme en pdf"|replace({" ":spaceReplace})|raw}}</a></span></td>
        </tr>
    </table>
    
    </div>
    
    <div style="margin-top:20px; display: block; position:relative; float:none; overflow:hidden; height:{{heightHours + nbBandeau*heightBandeau}}px; border:1px solid black; background-color: white;" id="conteneur">
        
        <div style="display: table; background-color: {{couleurFondHeure}}; position:relative; height:{{heightHours}}px; width: {{(nbHour + 1 ) * distanceBetweenHours + 0}}px; left:{{widthFleche + widthJour + widthLieux}}px; top:0px; " id="contenu">
            {% set j = startHour %}
            {% for i in 0..nbHour %}
                {% if (j>23) %}{% set j=0 %}{% endif %}
                <div style="left: {{(i * distanceBetweenHours) }}px; position:absolute; top:   0px; display:table; font-size: 2em; text-align: center; width:{{widthHours}}px; color:white; font-weight:bold;" class="hour">{% if j<10%}0{%endif%}{{j}}:00</div>
                <div style="z-index:10; left: {{(i * distanceBetweenHours) + (widthHours / 2) }}px; position:absolute; top: {{heightHours}}px; display:table; height:{{nbBandeau * heightBandeau}}px; width:1px;    border-left:1px solid rgb(200,50,50);">&nbsp;</div>
                {% set j = j + 1 %}
            {% endfor %}
                
            {% for seance in seances %}
                {#search bandeau#}
                {% set line = 0 %}
                {% set i = 0 %}
                {% set i1 = 0 %}
                {% set saveDate = 0 %}
                {% for lieux in lieuxTab %}
                    {% for lieu in lieux %}
                        {% set i = i + 1 %}
                        {% if  lieu == seance.getLieux and seance.date|date('d-m-Y') == dateTab[i1]|date('d-m-Y')%}
                            {% set line = i %}
                        {% endif %}
                    {% endfor %}
                    {% set i1 = i1 + 1 %}
                {% endfor %}
                
                {% set left = (seance.date|date('H') - startHour -1 + seance.date|date('i') / 60) * distanceBetweenHours + distanceBetweenHours + widthHours    / 2 %}
                {% set widthSeance = (seance.dureeHeure + seance.dureeMinute / 60) * distanceBetweenHours %}
                {% if widthSeance < widthSeanceMin %}
                    {% set widthSeance = widthSeanceMin %}
                {% endif %}
                
                {% set affiche = "films/new.jpg"%}
                {% if filmBySeanceTab[seance.id] is defined %}
                    {% if filmBySeanceTab[seance.id].affiche is defined %}
                        {% set affiche = filmBySeanceTab[seance.id].affiche.url%}
                    {%endif%}
                {%endif%}
                
                <div style="z-index:10;position:absolute; top:{{heightHours + (line-1)*heightBandeau + 3}}px; left:{{left}}px; width:{{widthSeance}}px; height:{{heightBandeau - 5}}px; background-color: rgba(255,255,255,1);webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; border:1px solid darkred;">
                    <div style="position:relative; top:3px; left:3px; height:{{heightBandeau - 13}}px;width:{{widthSeance - 8}}px;">
                        <div style="float:left; position:relative;  height:{{heightBandeau - 13}}px; width:{{heightBandeau - 13}}px; background: url(&quot;{{images}}/{{affiche}}&quot;) no-repeat; background-size: {{(heightBandeau - 13)}}px; background-position: 0px;">
                            <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; border:1px solid black;width:{{heightBandeau - 13}}px; height:{{heightBandeau - 13}}px;">&nbsp;</div>
                            <div style="height:30px; position:absolute; bottom:0px; right:5px;"></div>
                        </div>
                        <div style="margin-left:4px;position:relative; float:left; display:table; width:{{widthSeance - heightBandeau}}px; height:{{heightBandeau - 13}}px; ">
                            <div style="color:darkred;font-size: 0.8em; font-family: bebas; line-height:1.2em; width: {{widthSeance - heightBandeau}}px; height:{{heightBandeau - 34}}px; overflow:hidden;">{{(seance.date|date('H:i')~" - "~seance.nomFr)|replace({" ":spaceReplace})|raw}}</div>
                            <a class="buttonRedStyle" style="text-align:center; position:absolute; width:{{widthSeance - heightBandeau -2}}px; bottom:-2px; left:0px;" href="{{urlSeance2015}}/{{seance.id}}" style="">detail seance</a>   
                        </div>

                         <div style="clear:left;"></div> 
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="top: 0px; position:absolute; left:{{widthLieux + widthJour + widthFleche}}px; width: {{(nbHour + 1) * distanceBetweenHours}}px; height:{{heightHours}}px; border-bottom:1px solid rgba(150,0,0,0.5);" >&nbsp;</div>
        <div style="top: 0px; position:absolute; left:{{widthFleche}}px; width: {{widthJour + widthLieux + 2}}px; height:{{heightHours}}px; background-color: black; color:white" >&nbsp;</div>
        
        {% set nbLieux = 0 %}
        {% set iDate = 0 %}
        {% set iLieux = 0 %}
        {% for lieux in lieuxTab %}
            {% set iLieux = 0 %}
            {% for lieu in lieux %}
                <div style="z-index:20; top: {{heightHours  + nbLieux * heightBandeau}}px; position:absolute; left:{{widthFleche + widthJour}}px; width: {{widthLieux}}px; height:{{heightBandeau}}px; background-color: {{couleurLieux[iDate]}}; border:1px solid black; border-bottom:0px;" class="lieuSeance"><p style="padding:5px; font-size:0.8em;">{{lieu}}</p></div>
                <div style="z-index:9; top: {{heightHours  + nbLieux * heightBandeau}}px; position:absolute; left:{{widthJour + widthLieux + widthFleche +1}}px; width:  {{(nbHour + 1) * distanceBetweenHours}}px; height:{{heightBandeau}}px; border-bottom:1px solid #CCC;border-top:1px solid {{couleurSeparationBandeau}}; background-color:{{couleurBandeau[iDate]}}; opacity: 0.7" class="lieuSeance"></div>
                {% set iLieux = iLieux+1 %}
                {% set nbLieux = nbLieux+1 %}
            {% endfor %}
                <div style="z-index:20; top:{{heightHours + (nbLieux-iLieux) * heightBandeau}}px; position:absolute; left:{{widthFleche}}px; width: {{widthJour}}px; height:{{iLieux *heightBandeau}}px; background-color: {{couleurJour[iDate]}}; color:white; border:1px solid black; padding:0px;" class="lieuSeance"><p style="padding:5px; font-size:1em; font-family: bebas">{{days[dateTab[iDate]|date('w')]}}</p><p style="padding:0px 5px; font-family: bebas; font-size:1.1em">&nbsp;&nbsp;&nbsp;{{dateTab[iDate]|date('d-m')}}</p></div>
            {% set iDate = iDate + 1 %}
        {% endfor %}
            
        
                
        <div style="cursor:pointer; z-index:20;position:absolute; top:0px; left:0px; width:{{widthFleche}}px; height:{{heightHours + nbLieux*heightBandeau}}px; background-color: white; background-position: center; background-image: url('{{images}}/programme/arrow_l.png'); background-size: 48px 48px; background-repeat: no-repeat; border-right: 1px solid black;" id="leftArrow"></div>
        <div style="cursor:pointer; z-index:20;position:absolute; top:0px; right:0px; width:{{widthFleche}}px; height:{{heightHours + nbLieux*heightBandeau}}px; background-color: white; background-position: center; background-image: url('{{images}}/programme/arrow_r.png'); background-size: 48px 48px; background-repeat: no-repeat; border-left: 1px solid black;" id="rightArrow"></div>
    </div>


<script type="text/javascript" >
    var step={{distanceBetweenHours }};
    
    function getDimention(str) {
        return str.substring(0, str.length - 2);
    }
    
    $("#rightArrow").click(function(e){
        var leftPosition = getDimention($("#contenu").css('left'));
        var widthContenu = getDimention($("#contenu").css("width"));
        var widthConteneur = getDimention($("#conteneur").css("width"));
        var widthArrow = getDimention($("#leftArrow").css("width"));
        var movable = parseInt(widthContenu) - parseInt(widthConteneur) +  parseInt(widthArrow) ;
        if (movable > 0) {
            var nextLeftPosition = parseInt(leftPosition) - parseInt(step);
            if (nextLeftPosition > -movable ) {
                leftPosition = nextLeftPosition;
            } else {
                leftPosition = movable * (-1);
            }
        }
        
        leftPosition = leftPosition + "px";
        $("#contenu").css('left', leftPosition);
    });
    
    $("#leftArrow").click(function(e){
        var leftPosition = getDimention($("#contenu").css('left'));
        var borneMin = {{widthFleche + widthJour + widthLieux}};
        var nextLeftPosition = parseInt(leftPosition) + parseInt(step);
        if (nextLeftPosition < borneMin ) {
            leftPosition = nextLeftPosition;
        } else {
            leftPosition = borneMin;
        }
        leftPosition += "px";
        $("#contenu").css('left', leftPosition);
    });
</script>


{% endblock %}

{% block titre %}Programme 2015{% endblock %}
{% block css %}<link rel="stylesheet" href="{{css}}red_programme.css"/>
{% endblock %}