{# empty Twig template #}
{% extends "eopBlogBundle:Default:red_layout.html.twig" %}
{% block body %}
        
<div class="conteneurAllFilm grid">
{%set i=0%}
{% for event in events%}
        
        {% if i == 0 %}
            {% set cf = 1 %}
        {% else %}
            {% set cf = random(1) %}
        {% endif %}
        
        {% if cf == 1 %}
            <div class="conteneurEvent1 grid-item">
                <div style="position:relative; top:5px; left:5px; width:205px; height:420px; background-color: rgba(255,255,255,0.5);">
                    <div style="position:relative; top:5px; left:5px; width:195px;height:410px;">
                        <div style="position:relative;  width:195px; height:195px; background: url(&quot;{{images}}{% if event.image is not null %}{{event.image.url|raw}}{% endif%}&quot;) no-repeat; background-size: 195px; background-position: 0px;">
                            <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; border:1px solid black;width:195px; height:195px;">&nbsp;</div>
                        </div>
                        <p style="padding-top:15px; color:black; font-size: 0.9em;  ">{{event.contenuFr|striptags|split('', 150)[0]|raw}}...</p>
                        <a class="buttonRedStyle" style="text-align:center; position:absolute; bottom:0px; width:193px;" href="{{eventUrl}}/{{event.id}}">{{"voir evenement"|replace({" ":spaceReplace})|raw}}</a>
                    </div>
                </div>
            </div>
        
        {% else %}
            <div class="conteneurEvent2 grid-item" style="position:relative">
                <div style="position:relative; top:5px; left:5px; height:205px; width:420px; background-color: rgba(255,255,255,0.5);">
                    <div style="position:relative; top:5px; left:5px; height:195px;width:410px;">
                        <div style="float:left; position:relative;  height:195px; width:195px; background: url(&quot;{{images}}{% if event.image is not null%}{{event.image.url|raw}}{% endif %}&quot;) no-repeat; background-size: 195px; background-position: 0px">
                            <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; border:1px solid black;width:195px; height:195px;">&nbsp;</div>
                        </div>
                        <div style="position:relative; float:left; display:table; width:200px; height:197px; margin-left:5px">
                            <p style="padding-top:15px; color:black; font-size: 0.9em;  ">{{event.contenuFr|striptags|split('', 150)[0]|raw}}...</p>
                            <a class="buttonRedStyle" style="text-align:center; position:absolute; width:208px; bottom:0px; left:0px;" href="{{eventUrl}}/{{event.id}}" style="">{{"voir evenement"|replace({" ":spaceReplace})|raw}}</a>
                        </div>
                         <div style="clear:left;"></div>   
                    </div>
                </div>
            </div>
        {%endif%}
        


    

    {% set i=i+1 %}
{% endfor %}
            </div>
{% if i==0 %}
    <div class="warning">bientot les evenements de l'edition 2015</div>
{% endif %}
    <script type="text/javascript" >
        
        var container = document.querySelector('.grid');
        var msnry = new Masonry( container, {
          itemSelector: '.grid-item',
          columnWidth: 215
        });
            </script>
{% endblock %}

{% block titre %}Evenement 2015{% endblock %}
{% block css %}<link rel="stylesheet" href="{{css}}red_listeFilms.css"/>
{% endblock %}