{% extends "eopBlogBundle:Default:red_layout.html.twig" %}
 
{% block body %}
{% set days = ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"] %}
{% set dateEnd = '2015-11-09 19:00' %}

{% set duree = seance.getDureeHeure ~ " heure" %}
{% if (seance.getDureeHeure > 1) %}
    {% set duree = duree ~ "s" %}
{% endif %}
{% set duree = duree ~ " " %}

{% if seance.getDureeMinute > 0 %}
    {% if (seance.getDureeMinute < 10) %}
        {% set duree = duree ~ "0" %}
    {% endif %}
    {% set duree = duree ~ seance.getDureeMinute %}
{% endif %}

<div class="blockTitre">
    <div>
        <span class="titreArticle">{{seance.getNomFr|replace({" ":spaceReplace})|raw}}</span><br>
        <span class="dateSeance">{{(days[seance.date|date('w')]~" "~seance.date|date('d/m/Y')~" a "~seance.date|date('H:i'))|replace({" ":spaceReplace})|raw}}</span><br>
        <span class="dateSeance">{% if seance.getDureeHeure + seance.getDureeMinute > 0 %}{{("duree : " ~duree)|replace({" ":spaceReplace})|raw }}{% endif%}</span>
        {% if "now"|date("YmdHi") < dateEnd|date("YmdHi")   %}
            <br><br><a class="buttonRedStyle" style="width:300px;" href="{{url_billeterie2015}}">{{"Acheter une place pour cette seance"|replace({" ":spaceReplace})|raw}}</a>
        {% endif %}
    </div>
</div>
<div class="blockMain blockMainSeanceDetail">
    
    <div class="conteneurAllFilm grid">
        
{%set i=0%}
{% for film in films%}
    {% set interdit=""%}
    {% if film.film.getInterdit=="12" %}
        {% set interdit='<img style="height:30px;" src="'~images~'interdit/12.jpg" alt="déconseillé aux moins de 12 ans"/>'%}
    {% elseif film.film.getInterdit=="16" %}
        {% set interdit='<img style="height:30px;" src="'~images~'interdit/16.gif" alt="déconseillé aux moins de 16 ans"/>'%}
    {% elseif film.film.getInterdit=="18" %}
        {% set interdit='<img style="height:30px;" src="'~images~'interdit/18.jpg" alt="interdit aux moins de 18 ans"/>'%}
    {% endif %}

    {% if film.film.getLienVideo!=""%}
        {% set icone='<img style="height:30px;" src="'~images~'icone/annonce.png" alt="contient la bande de lancement"/>'%}
    {% else %}
        {% set icone='' %}
    {%endif%}

        
            <div class="conteneurFilm1 grid-item" style="position:relative" >
                <div style="position:relative; top:5px; left:5px; width:205px; height:420px; background-color: rgba(255,255,255,0.5);">
                    <div style="position:relative; top:5px; left:5px; width:195px;height:410px;">
                        <div style="position:relative;  width:195px; height:195px; background: url(&quot;{{images}}{{film.film.affiche.url}}&quot;) no-repeat; background-size: 195px; background-position: 0px;">
                            <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; border:1px solid black;width:195px; height:195px;">&nbsp;</div>
                            <div style="height:30px; position:absolute; bottom:0px; right:0px;">{{icone|raw}}{{interdit|raw}}</div>
                        </div>
                        <div style="color:darkred;font-size: 1em; font-family: bebas ">{{film.film.nom|replace({" ":spaceReplace})|raw}}</div>
                        <p style="font-family: bebas; color:black; font-size: 0.9em;  ">- {{film.film.realisateur.nom|replace({" ":spaceReplace})|raw}} -</p>
                        <p style="padding-top:15px; color:black; font-size: 0.9em;  ">{{film.film.resumeFr|striptags|split('', 150)[0]|raw}}...</p>
                        <a class="buttonRedStyle" style="text-align:center; position:absolute; bottom:0px; width:193px;" href="{{urlFicheFilm}}/{{film.film.id}}">voir fiche</a>
                    </div>
                </div>
            </div>
        


    

    {% set i=i+1 %}
{% endfor %}
</div>
{% if i==0 %}
    <h1>il n'y a pas encore de film</h1>
{% endif %}
    <div style="text-align: right; position:relative; height:50px; ">
        <a class="buttonRedStyle" style="width:350px; position:absolute; right:0px; bottom:0px;" href="{{urlProgramme}}">{{("retour au programme "~annee)|replace({" ":spaceReplace})|raw}}</a>
    </div>
</div>

<script type="text/javascript" >
        
        
        var container = document.querySelector('.grid');
        var msnry = new Masonry( container, {
          itemSelector: '.grid-item',
          columnWidth: 215
        });
        </script>

{% endblock %}

{% block titre %}Detail de la seance "{{seance.getNomFr}}"{% endblock %}
{% block css %}<link rel="stylesheet" href="{{css}}red_listeFilms.css"/>
{% endblock %}