{% extends "eopAdminBundle:Default:corps.html.twig" %}


{% block javascript %}

    {{ parent() }}
    <script type="text/javascript">
        erreur="{{error}}";
    </script>
    <script type="text/javascript" src="{{js}}gestionErreur.js"></script>
    
{% endblock %}
    
    
    
    
{% block body %}

    <div class="titrePage">Les films de l'édition {{ anneeEdition }}</div>
    <br />
    <a class="buttonPetitBleu" href="{{urlNewFilmPart1}}">Ajouter un nouveau film</a>
    <br /><br />
    {% set i=0%}
    {% for film in films%}
        <br />
        <div class="cadreItem">
            <div class="cadreItemTitre">{{ film.nom }}</div>
            <div class="cadreItemImg"><img src="{{ images }}{{ film.affiche.url }}" alt="Film : {{ film.nom }}" /></div>
            <div class="cadreItemBtnModif"><a class="buttonPetitBleu" href="{{ urlModifFilm }}{{ film.id }}">Modifier</a></div>
            <div class="cadreItemBtnSup"><a id="delete-{{i}}" class="buttonPetitBleu" href="{{ urlDeleteFilm }}{{ film.id }}">Supprimer</a></div>
            <div class="cadreItemContenuFr">{{film.resumeFr|striptags|raw|truncate(350, true,"<span class=\"moreTxt\">[...]</span>")|raw }}</div>
            <div class="cadreItemContenuEn">{{film.resumeEn|striptags|raw|truncate(350, true,"<span class=\"moreTxt\">[...]</span>")|raw }}</div>
        </div>
        {% set i=i+1 %}
    {% endfor %}
    {% if i==0 %}
        <div class="warning">----- Il n'y a aucun film -----</div>
    {% endif %}
    <script type="text/javascript">
        $(function() {
            $('a[id^="delete-"]').click(function(){
                return confirm("Êtes-vous sur de vouloir supprimer ce film ?");
            });
        });
    </script>
   
{% endblock %}

