{% extends "eopAdminBundle:Default:corps.html.twig" %}


{% block javascript %}

    {{ parent() }}
    <script type="text/javascript">
        erreur="{{error}}";
    </script>
    <script type="text/javascript" src="{{js}}gestionErreur.js"></script>
    
{% endblock %}
    
    
    
    
{% block body %}

    <div class="titrePage">Les photos de l'édition {{ anneeEdition }}</div>
    <br />
    <a class="buttonPetitBleu" href="{{urlNewPhotoPart1}}">Ajouter une nouvelle photo</a>
    <br /><br />
    {% set i=0%}
    {% for photo in photos%}
        {% set tof=photo.image.url|split('/') %}
        <br />
        <div class="cadreItem">
            <div class="cadreItemTitre">photo n°{{ photo.ordre }}</div>
            <div class="cadreItemBtnUp"><a class="buttonPetitBleu" href="{{ urlModifPhotoOrdreFirst }}/{{ photo.id }}">First  </a></div>
            <div class="cadreItemImg"><img src="{{ images }}{{ tof[0] }}/{{ tof[1] }}/{{ tof[2] }}/thumb_{{ tof[3] }}" alt="{{ photo.image.altFr }}" /></div>
            <div class="cadreItemBtnModif"><a class="buttonPetitBleu" href="{{ urlModifPhoto }}{{ photo.id }}">Modifier</a></div>
            <div class="cadreItemBtnSup"><a id="delete-{{i}}" class="buttonPetitBleu" href="{{ urlDeletePhoto }}{{ photo.id }}">Supprimer</a></div>
            <div class="cadreItemContenuFr">{{photo.image.altFr }} </div>
            <div class="cadreItemContenuEn">{{ photo.image.altEn }}</div>
        </div>
        {% set i=i+1 %}
    {% endfor %}
    {% if i==0 %}
        <div class="warning">----- Il n'y a aucune photo -----</div>
    {% endif %}

   <script type="text/javascript">
        $(function() {
            $('a[id^="delete-"]').click(function(){
                return confirm("Êtes-vous sur de vouloir supprimer cette photo ?");
            });
        });
    </script>
{% endblock %}

