{% extends "eopAdminBundle:Default:corps.html.twig" %}


{% block javascript %}

    {{ parent() }}
    <script type="text/javascript">
        erreur="{{error}}";
    </script>
    <script type="text/javascript" src="{{js}}gestionErreur.js"></script>
    
{% endblock %}
    
    
    
    
{% block body %}

    <div class="titrePage">Les réalisateurs</div>
    <br />
    <a class="buttonPetitBleu" href="{{urlNewRealisateurPart1}}">Ajouter un nouveau réalisateur</a>
    <br /><br />

    {%set i=0%}
    {% for realisateur in realisateurs%}
        <br />
        <div class="cadreItem">
            <div class="cadreItemTitre">{{ realisateur.nom }}</div>
            <div class="cadreItemImg"><img src="{{ images }}{{ realisateur.image.url }}" alt="Réalisateur : {{ realisateur.nom }}" /></div>
            <div class="cadreItemBtnModif"><a class="buttonPetitBleu" href="{{ urlModifRealisateur }}{{ realisateur.id }}">Modifier</a></div>
            <div class="cadreItemBtnSup"><a id="delete-{{i}}" class="buttonPetitBleu" href="{{ urlDeleteRealisateur }}{{ realisateur.id }}">Supprimer</a></div>
            <div class="cadreItemContenuFr">{{realisateur.presentationFr|striptags|raw|truncate(350, true,"<span class=\"moreTxt\">[...]</span>")|raw }}</div>
            <div class="cadreItemContenuEn">{{realisateur.presentationEn|striptags|raw|truncate(350, true,"<span class=\"moreTxt\">[...]</span>")|raw }}</div>
        </div>
        {% set i=i+1 %}
    {% endfor %}
    {% if i==0 %}
        <div class="warning">----- Il n'y a aucun réalisateur -----</div>
    {% endif %}
    <script type="text/javascript">
        $(function() {
            $('a[id^="delete-"]').click(function(){
                return confirm("Êtes-vous sur de vouloir supprimer ce réalisateur ?");
            });
        });
    </script>
{% endblock %}

