{% extends "eopAdminBundle:Default:corps.html.twig" %}


{% block javascript %}

    {{ parent() }}
    <script src="{{js}}testField.js"></script>
    <script type="text/javascript">
        erreur="{{error}}";
    </script>
    <script src="{{js}}gestionErreur.js"></script>
    
{% endblock %}
    
    
    
    
{% block body %}

<center><h1>Nouveau realisateur</h1></center>

<form id="form" method="post" action="{{ newRealisateur2Url }}">
<span class="inputInitule">Nom du réalisateur : </span><input id="nomRealisateur" type="text" name="nom" value="{{realisateur.nom}}"><br /><br /><br /><br /><br />
<span class="inputInitule">Texte de presentation du réalisateur en francais : </span><br /><br />
<textarea class="ckeditor" name="presentationFr">
{{ realisateur.presentationFr|raw}}
</textarea>
<br /><br /><br /><br />
<span class="inputInitule">Texte de presentation du réalisateur en anglais : </span><br /><br />
<textarea class="ckeditor" name="presentationEn">
{{ realisateur.presentationEn|raw}}
</textarea>
<br /><br />
<center><input type=submit value="valider les textes et le nom"></center>
</form><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<script type="text/javascript">
    $(function() {
        $('#form').submit(function() {
            value=$('#nomRealisateur').val();
            if (testNom.test(value)){
                return true;
            }else{
                alert('Des erreurs résident sur le formulaire : \n\n'+
                        '  - nom du réalisateur\n'+testNomCarr);
                return false;
            }
        });
    });
     </script>
{% endblock %}

